ul {
    list-style-type: none;
}

.noindent{
    margin-left: -40px;
}

.search {
    float: left;
    width: 500px;
}

.gem {
    background-color: #ccc;
    margin: 2px;
    padding: 0px 2px;
}

.quality{
	background-color: #222;
    padding: 2px;
}

.standard{
    color:#fff;
}
.magic{
    color:#06c;
}
.rare{
    color:#ff6;
}
.unique{
    color:#FFAC30;
}
.gem{
    color:#E669E6;
}
.currency{
    color:#FFAC30;
}
.quest{
    color:#2b542c;
}

.item{
    background-color: #eee;
    margin: 2px 0px;
}
.bottom{
    border-bottom: 1px solid #ccc;
}
.corrupted{
    color : red;
}

.tooltip{
    box-shadow: 0 1px 1px #ccc;
    border-radius:3px;
    width: 290px;
    padding: 10px;

    position: absolute;
    left:50%;
    margin-left:-150px;
    top: 80px;
}

.left{
    float:left;
}
.right{
    float:right;
}

.label{
    width:150px;
    margin-top: 6px;
    color:#000000;
    display:block;
    float:left;
}
.control{
    width:40px;
    display:block;
    float:left;
}
.controls{
    width:100px;
    display:block;
    float:left;
}

.entity{
    margin:4px;
    float:left;
    width:300px;
    display:block;
}

.result{
    width:100%;
    float:left;
}

.str {
    color: red;
}
.dex {
    color: green;
}
.int {
    color: blue;
}
