<h2>Suche</h2>
<div class="search">
    <div class="entity">
        <div class="label">
            <label class="right">Name</label>
        </div>
        <div class="control">
            <input type="text" ng-model="vm.name" placeholder="Name"/>
        </div>
    </div>
    <div class="entity">
        <div class="label">
            <label class="right">Sockets</label>
        </div>
        <div class="controls">
            <input class="control" type="text" ng-model="vm.sockmin" placeholder="min"/>
            <input class="control" type="text" ng-model="vm.sockmax" placeholder="max"/>
        </div>
    </div>
    <button class="left" ng-click="vm.search()">Suchen</button>
    <div class="result">
    <ul>
        <li ng-repeat="item in vm.result
                          | filter:vm.byName(vm.name)
                          | greaterEqual:'socketCount':vm.sockmin
                          | lowerEqual:'socketCount':vm.sockmax
                           ">
            {{item.getName()}} ({{item.colour}}), {{item.charname}}, {{item.itemname}}
        </li>
    </ul>
    </div>
</div>
