<h2>Inventar</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul>
                <li ng-repeat="stash in vm.poemodel.model.stashs">
                    <span>
                        <a href="" ng-href="#/stash/{{stash.items[0].inventoryId}}">{{stash.items[0].inventoryId}}</a>
                        {{stash.loadStatus}}
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <h3>{{vm.poemodel.currentStash.items[0].inventoryId}}</h3>
            <ul>
                <li ng-repeat="item in vm.poemodel.currentStash.items | orderBy:['name','typeLine']">
                    <span class="quality" poe-item="item">{{item.name || item.typeLine}}</span> {{item.frameType}}
                </li>
            </ul>
        </div>
    </div>
</div>
