<h1>{{char.name}}</h1>


<ul>
    <li class="noindent" ng-repeat="item in char.items | filter:noInventory | filter:noFlask">
        <div class="row item">
            <div class="col-xs-6">
                <span class="quality" poe-item="item.frameType">
                    {{item.name || item.typeLine }} ({{item.inventoryId}}) {{item.frameType}}
                </span>
                <br> Quality {{(item.getQuality())}}
                <span ng-repeat="def in item.getDefences()">
                    <br/>{{def}}
                </span>
                <br>{{item.getRequirements() | join }}
                <div class="bottom"></div>
                <div ng-repeat="imp in item.getImplicit()">
                    {{imp}}
                </div>
                <div class="bottom"></div>
                <div ng-repeat="exp in item.getExplicit()">
                    {{exp}}
                </div>
                <div class="corrupted">{{item.getCorrupted()}}</div>
            </div>
            <div class="col-xs-6">
                <ul>
                    <li class="gem"
                        ng-repeat="gem in item.socketedItems"
                        ng-class="(gem.colour ==='S')?'str': (gem.colour==='D' ? 'dex' : 'int')">
                        {{gem.typeLine}}({{gem.getLevel()}})  {{item.frameType}}
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>

