<h1>{{vm.poemodel.currentChar.name}}</h1>

<ul>
    <li class="noindent" ng-repeat="item in vm.poemodel.currentChar.items | filter:noInventory | filter:noFlask">
        <div class="row item">
            <div class="col-xs-6">
                <span class="quality" ng-class="{standard: item.frameType==0, magic: item.frameType==1, rare: item.frameType==2, unique: item.frameType==3}">
                    {{item.name || item.typeLine }} ({{item.inventoryId}})
                </span>
                <br> Quality {{vm.getQuality(item)}}
                <span ng-repeat="def in vm.getDefences(item)">
                    <br/>{{def}}
                </span>
                <br>{{vm.getRequirements(item) | join }}
                <div class="bottom"></div>
                <div ng-repeat="imp in vm.getImplicit(item)">
                    {{imp}}
                </div>
                <div class="bottom"></div>
                <div ng-repeat="exp in vm.getExplicit(item)">
                    {{exp}}
                </div>
                <div class="corrupted">{{vm.getCorrupted(item)}}</div>
            </div>
            <div class="col-xs-6">
                <ul>
                    <li class="gem"
                        ng-class="(gem.colour ==='S')?'str': (gem.colour==='D' ? 'dex' : 'int')"
                        ng-repeat="gem in item.socketedItems">
                        {{gem.typeLine}}
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>